*.bib.sav
venv
.records_learned_settings
.corrections
.ipynb_checkpoints/
.report.log
__pycache__
output
data/pdfs
data/pdf_get_man/missing_pdf_files.csv
data/.tei/
data/prep_man/records_prep_man.bib
data/prep/
data/dedupe/
.history
.colrev
data/data/sample_references.bib
data/dedupe
data/prep
.DS_Store
